
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head-content a{
    color: inherit;
}
.desktop{
    display: none;
}
@media(min-width:768px){
    .desktop{
        display: initial;
    }
}

header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    
    position: fixed;
    top: 50px;
    z-index: 2;
}
header a:hover{
    background-color:rgba(206, 201, 201, 0.521);
    opacity: inherit;
}
a.logo{
    width: 100px;
    height: 12px;
    color: inherit;
}
header a{
    color: inherit;
    text-decoration: none;
    padding: 10px 10px;
}
header nav.center{
    text-align: center;
   
}
.center ul li{
    list-style: none;
}
header nav.right{
    text-align: right;
}
.navbar{
    display: flex;
    position: fixed;
    top: 35px;
}

.nav-item{
    font-size: 10px;
}
aside{
   position: fixed;
   display: none;
   height: 100vh;
   right: 0;
   width: 320px;
   background-color: white;
   padding: 30px;
}
aside a{
    display: block;
    color: inherit;
    text-decoration: none;
}
section{
    height: 100vh;
    
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;   
}
.model-y{
   width: 100%;
   height: 100vh;
   padding-top: 15vh;
   padding-bottom: 15vh;
   text-align: center;
   display: grid;
   grid-template-rows: min-content auto min-content;
} 
.bts{
    display: block;
    color: inherit;
    padding: 12px 50px;
    border-radius: 25px;
}
footer a{
    text-decoration: none;
    padding: 0px 5px;
    color: inherit;
}
body{
    margin: 0;
}




